<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>y
    
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.jpg" alt="Logo">
            </div>
            <ul class="navigation-links">
                <li><a href="./main">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./blog">Blogging</a></li>
                <li><a href="./team">Team</a></li>
            </ul>
            <div class="login">
                <button><a id="toggle-button" href="login">Login</a></button>
            </div>
        </nav>
    </header>

    <button class="create-blog-btn">Create New Blog</button>

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/" class="social-icon facebook"><img src="../img/th.jpeg" alt="Facebook"></a>
            <a href="https://www.twitter.com/" class="social-icon twitter"><img src="../img/th (2).jpeg" alt="Twitter"></a>
            <a href="https://www.instagram.com/" class="social-icon instagram"><img src="../img/th (1).jpeg" alt="Instagram"></a>
        </div>
    </footer>
<script src="../js/toggle.js"></script>
</body>
</html>