<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MY BLOG</title>
</head>

<body>
    <p class="heading">MY BLOG</p>
    <p>Welcome to the blog of <span class="author">Blog Website</span></p>
    <div class="container">

        <div class="half">

            <div class="grid-item image-card" id="box1">
                <img src="woods.jpg" width="100%" height="40%" alt="">
                <div class="image-card-content">
                    <p class="image-card-heading">Create A Blog</p>
                    <p>Title description,<span class="date"> April 19, 2024</span> </p>
                    <p class="description">Share your story with the world. Stand out with a professionally-designed
                        template that can be customized to fit your brand. Promote your blog and build your online
                        presence with Squarespace's built-in suite of marketing tools-
                        Blog Application is an application where user can add a new blog, edit it,
                        delete it as well as view other blogs and make changes in them.
                        The Home module serves as the front landing page of the application, providing users with an
                        overview of our website where user can Sign/Login for go throught the Blogging Website.
                    </p>
                    <button>READ MORE</button>
                </div>
            </div>
        </div>
</body>

</html>